@media screen and (max-width: 767px) {
	body {
		margin: 0;
	}

	.container {
		width: 100%;
	}
	
	span.large {
		font-weight: normal;
    font-size: 36px;	}
	
	.top_image {
		/* background: url(../image/eyecatch01.jpg); */
		background-size: contain;
		height: 28vh;
	}
	
	.eyecatch {
		align-items: center;
		left: 0;
		bottom: 29px;
		position: static;
	}

	p.data {
		font-size: 1.5rem;
		letter-spacing: 2px;
		text-align: center;
		padding: 0;
		margin-top: 0;
		background: none;
		color: rgba(255, 102, 0, 0.6);
	}

	.br {
		display: block;
	}

	.container_column {
		width: 100%;
		flex-direction: column;
	}

	#area03 .inner::before, #area03 .inner::after {
		display: none;
	}

	.title {
    font-size: 16px;
    height: auto;
	}

	h2 {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
	}

	.p-plot dl dt {
		margin-bottom: 0;
		font-size: 1.2rem;
		letter-spacing: 0;
		line-height: 1.5rem;
		padding-bottom: 10px;
		border-bottom: 1px solid #333 70%;
	}

	dd {
		margin-inline-start: 0;
		height: 42px;
	}

	.achivements {
		border-top: 2px dotted #333;
		border-bottom: 2px dotted #333;
		margin-bottom: 0;
	}

	.btn {
		display: block;
		border-radius: 100px;
		color: #FFF;
		font-size: 16px;
		text-decoration: none;
		width: 70vw;
		height: 6vh;
		line-height: 6vh;
		text-align: center;
		cursor: pointer;
		font-weight: bold;
	}

	.start_btn {
		background-color: #FF3159;
	}

	.login_btn {
		background-color: #3134ff;
	}

	.underLine {
		font-size: 22px;
	}
	#area03 {
		margin: 0;
	}

	#area03 .inner {
    margin: 0 auto;
    border-radius: 0;
    padding: 0 0 3rem;
	}

	#area03 .title03 {
		padding: 2rem 0;
		margin: 0;
	}
	
	#area03 .list03 {
		width: 90%;
		margin: 0 auto 1rem;
	}

	#area03 .text03 {
    margin-top: .5rem;
  }

	ul {
    flex-direction: column;
	}

	#area01 {
    padding: 0;
    background: url() no-repeat center;
	}

	.feature_title {
		width: 120%;
		margin-left: -15%;
		background: url(../image/feature2.jpeg);
		background-size: cover;
		height: 300px;
		color: #FFF;
		position: relative;
	}

	h2.title-top {
		font-size: 2.5rem;
    position: absolute;
    width: 90%;
    padding: 0;
    margin: 0;
    bottom: 3rem;
    left: 55%;
    transform: translateX(-50%);
    color: antiquewhite;
    text-shadow: 2px 2px 2px rgb(100 100 100 / 80%);
	}

	h3.sec_title {
    margin: 20px auto 20px;
    width: auto;
		color: white;
		background: cadetblue;
	}
	
	.etcBox {
		flex-direction: column;
		background-color: #FFF;
		color: #333;
		display: flex;
		margin-top: 10px;
		padding: 10px 0;
	}

	.col {
		width: 100%;
		padding: 0;
    border: 0;
	}

	.dis {
		padding-left: 1rem;
	}

	.p-plot {
    margin: 0 auto;
    padding-bottom: 32px;
    width: 90%;
    display: block;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
	}

	dl {
    width: auto;
    margin-bottom: 20px;
    border: 1px solid #958882;
    border-radius: 6px;
    padding: 20px 0; 
    text-align: center;
	}

	dd > p {
		font-size: 14px;
		line-height: 1.5;
		margin-block-start: 0;
	}

	#area04 .list04 {
    margin: 0 auto 2.5rem;
  }

  #area04 .item-img {
    margin: 0 auto 1rem;
  }

  #area04 .item-discription {
    width: 90%;
    margin: 1rem auto;
  }
	
	.download {
		height: 300px;
	}
	
	.download > .container {
		height: inherit;
	}
	
	.signups {
		margin: 0 auto;
    height: auto;
	}

	.signups .sub-title {
		font-size: 2rem;
		padding-top: 1rem;
	}
	
	.download .appDownload {
		display: block;
		justify-content: space-between;
		padding: 0 0;
	}

	.btn_ {
    margin: 0 auto 2rem;
	}

	.pt-1 {
		padding: 0;
	}

	.title__bd {
		border-top: 2px solid #333;
		border-bottom: 2px solid #333;
		width: 85%;
		margin: 30px auto 0;
	}

	.border_tb {
		line-height: 1.5rem;
	}

	.title__bottom {
		margin-bottom: 40px;
	}

	.border_r {border: 2px solid red;}
	.border_b {border: 2px solid blue;}
	.border_g {border: 2px solid green;} 
	.border_y {border: 2px solid orange;}

	.redbox {
		padding-bottom: 10px;
		margin: 0 auto;
		width: 65%;
		border-bottom: 3px solid red;
	}
	.bluebox {
		padding-bottom: 10px;
		margin: 0 auto;
		width: 65%;
		border-bottom: 3px solid blue;
	}
	.greenbox {
		padding-bottom: 10px;
		margin: 0 auto;
		width: 65%;
		border-bottom: 3px solid green;
	}
	.orangebox {
		padding-bottom: 10px;
		margin: 0 auto;
		width: 65%;
		border-bottom: 3px solid orange;
	}

	.d-none_sp {
		display: none;
	}

	.d-none {
		display: block;
	}

	.eyecatch_2 {
    align-items: center;
		position: absolute;
    left: 0;
    bottom: 29px;
    position: static;
		top: -100px;
	}
}