a{
	text-decoration: none;
}

img{
	vertical-align: bottom;
}

.container {
	width: 80%;
	margin: 0 auto;
	display: flex;
}

.header {
	display: flex;
	align-items: center;
}

.logo {
	margin-right: auto;
}

.memu {
	display: flex;
	align-items: center;
  height: 100%;
}

.top-navi {
	width: 40%;
	justify-content: space-between;
	line-height: 1.5;
	letter-spacing: 1px;
}

nav{
	display: flex;
	line-height: 1.5;
}

ul{
	display: flex;
	list-style: none;
}

.menu a{
	display: inline-block;
	font-size: 0.85rem;
	color: #000;
}

.eyecatch {
	position: absolute;
	top: 56px;
	z-index: 2;
}

.top_image {
	width: 100%;
	position: relative;
}

.top_image img{
	width: 100%;
}

p.data {
	color: #FFF;
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 4px;
	line-height: 1.8;
	left: calc(50vw - 630px);
}

.achivements {
	display: flex;
	background-color: rgba(255, 170, 90, 0.12);
	color: #273940;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: 8px 0;
}

.achivement_items {
	justify-content: center;
}

.achivement_item {
	padding: 0 36px;
	align-items: center;
	line-height: 1;
	display: flex;
}

.achivement_item img{
	width: 35px;
	margin-right: 8px;
}

span.large {
	font-weight: bold;
	font-size: 18px;
}


.header {
	display: flex;
	align-items: center;
}

.header img{
	width: 200px;
}

.memu {
	display: flex;
	line-height: 64px;
}

.header_menu {
	width: 700px;
	justify-content: space-between;
	line-height: 2;
	letter-spacing: 1px;
}

nav{
	display: flex;
}

ul{
	display: flex;
	list-style: none;
}

.menu a{
	display: inline-block;
	font-size: 0.85rem;
	color: #000;
}

.reservation {
	background-color: #99bcc6;
	color: #FFF !important;
	font-size: 1.03rem;
	letter-spacing: 2px;
	text-align: center;
	cursor: pointer;
	line-height: 40px;
	width: 140px;
	height: 40px;
	display: block;
	border-radius: 4px;
	margin-left: 24px;
}

.achivements {
	display: flex;
	background-color: rgba(195,171,148,0.12);
	color: #273940;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: 8px 0;
}

.achivement_item {
	padding: 0 36px;
	align-items: center;
	line-height: 1;
	display: flex;
}

.achivement_item img{
	width: 35px;
	margin-right: 8px;
}

span.large {
	font-weight: bold;
	font-size: 18px;
}

p{
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

p.data {
	color: #FFF;
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 4px;
	line-height: 1.8;
	left: calc(50vw - 630px);
}

.top_image {
	position: relative;
}

.eyecatch {
	position: absolute;
	top: 56px;
	z-index: 2;
}

.eyecatch_img {
	width: 100%;
}
.eyecatch_img img{
	width: 100%;
}

section {
	margin: 0 auto;
}

#area01 {
	padding: 100px 0 120px;
	background: url(../image/feature1.jpg) no-repeat center;
}

#area01 .function > li{
	background-image: url(../image/area01_frame.png);
	background-size: cover;
	width: 352px;
	height: 556px;
	padding-top: 13px;
}

.btn a {
	border: 2px solid #ccc;
	border-radius: 48px;
	color: red;
	display: block;
	font-weight: bold;
	line-height: 44px;
	margin: 0 auto;
	text-align: center;
	width: 240px;
	height: 48px;
}

.inner {
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
}

.etcBox {
	background-color: rgba(0, 0, 0, 0.1);
	border: 2px solid #f4f4f4;
	border-radius: 8px;
	color: #fff;
	display: flex;
	margin-top: 25px;
	padding: 38px 0;
}

.col {
	border-left: 1px solid rgb(0, 0, 0, 0.1);
	width: calc(100% /3);
}

.col p{
	text-align: center;
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 28px;
	font-weight: bold;
	height: 70px;
	line-height: 1.1;
}

footer {
	background-color: #333;
	color: #FFF;
	font-size: 14px;
	width: 100%;
	text-align: center;
}

.download .appDownload {
	display: flex;
	justify-content: space-between;
	padding: 0 130px;
}

.download {
	margin-bottom: 50px;
}

.btn {
	display: block;
	border-radius: 100px;
	color: #FFF;
	font-size: 16px;
	text-decoration: none;
	width: 260px;
	height: 56px;
	line-height: 56px;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
}

.start_btn {
	background-color: #FF3159;
}

.login_btn {
	background-color: #3134ff;
}

.btn_ {
	margin: 0 40px;
}

h2 {
	color: #333;
	font-size: 32px;
	line-height: 1.2;
	margin-bottom: 50px;
	text-shadow: none;
	text-align: center;
}

h3.sec_title {
	border-radius: 12px;
	border: 2px dotted #a49993;
	margin: 0 auto 40px;
	width: 910px;
	padding: 16px 0;
	font-size: 1.1rem;
	text-align: center;
}

.copyright {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
}

.logo {
	width: 150px;
}

.logo img{
	width: 100%;
}

.footer {
	padding-top: 30px;
}

.footer_logo {
	width: 100px;
	justify-content: end;
}

.footer_logo img{
	width: 100%;
}

.p-plot {
	margin: 0 auto;
	padding-bottom: 32px;
	width: 1130px;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

dl {
	width: 540px;
	margin-bottom: 48px;
	border: 1px solid #958882;
	border-radius: 6px;
	padding: 50px 0;
	text-align: center;
}

.border_r {border:1px solid red;}
.border_b {border:1px solid blue;}
.border_g {border:1px solid green;}
.border_y {border:1px solid orange;}

